/* form{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}

.relationships__item{
    align-items: center; 
    justify-content: center;
    display: flex;
} */

.Section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
