/* :root {
  --bg-color: #EFEFF4;
  --text-color: #000000;
  --secondary-bg-color: #FFFFFF;
} */
/* body {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
} */
/* .HIJtihMA8FHczS02iWF5 {
  height: 75vh;
}

.tgui-e5c3a5b87f8b1f46 {
  height: 100%;
  background-color:var(--bg-color);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 37px;
} */
